<div class="jumbotron">
    <div>
        <form class="form-signin" ng-submit="model.login()">
            <h2 class="form-signin-heading">Login</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" ng-model="model.email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" ng-model="model.password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" >Login</button>
            <a href="#/register" class="btn btn-default navbar-btn">Register</a>
        </form>
    </div>
</div>